@use "./../assets/styles/var.scss";

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    background: linear-gradient(
        to right,
        #6188ff,
        #6188ff 70%,
        #71a4f3 71%,
        #71a4f3 97%,
        #8ec0f0 100%,
    );
    a{
        color: var.$texto-blanco;
        text-decoration: none;
        background-color: #4379cf;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        border-radius: 30px;
        margin-right: 50px;
    }
    
}

#tituloContainer{
    display: flex;

    margin-left: 30px;
    align-items: center;
    background-color: #88daf2;
    justify-content: space-between;
    padding: 0 5px;
    width: 300px;
    height: 50px;
    color: var.$texto-blanco;
    img{
        height: 35px;
    }
    border: solid 3px #30408d;
    border-radius: 50px;
    h1{
        font-size: 2.5rem;
        -webkit-text-stroke: 1.5px #30607a;
    }
}
