<main id = "container">
    <app-detalles-pokemon
    [pokemon]="pokemonSeleccionado"></app-detalles-pokemon>
    <app-foto-pokemon
    [pokemon]="pokemonSeleccionado"></app-foto-pokemon>
    <div id="tarjetasContainer" #tarjetas (scroll)="onScroll($event)">
        @for (pokemon of listaPokemon; track $index) {
        <app-tarjeta-pokemon
         [data]="pokemon" (clickeado) = "tarjetaClickeada($event)"
         [seleccionado]="pokemon.name === pokemonSeleccionado?.name"></app-tarjeta-pokemon> 
        
        }
        

        @if (cargando){
            <img src="./../../../assets/img/spinner.svg" alt= " Cargando..." id = "spinnner">
        }
        </div>

</main>
