#container{
    border: 8px solid #8cbbf1;
    outline: 12px solid #f8e55c;
    max-width: 500px;    
    aspect-ratio: 1;
    border-radius: 25px;
    background: repeating-linear-gradient(
        to bottom,
        #f5f7f9,
        #f5f7f9 15px,
        #c9e2f4 15px,
        #c9e2f4 25px,
    );
    img{
        width: 100%;
        -webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.75);
box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.75);
    }
}
